body{
    background-color: rgb(255, 254, 209);
    border: 2px;
    max-width: 100%;
    margin: 0 auto; 
}

header{
    background-color: rgb(223, 115, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    color: black;
}

h1{ /* aqui é o título Hamburgueria*/
    display: center;
    margin: 40px
}

section > div{
    background-color: rgb(255, 239, 180);
    border: 3px solid brown;
    padding: 100px;
    margin: 20px;
    height: 50px; 
    border-radius: 20px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 225px;
}

h2{
    text-align: center;
}